
div{
  background-image: url("image/032f248a-2648-4ecf-993b-5852a8e522ba.jpeg");
}
.container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  align-content: start;
}
.item:nth-child(4) {
  width: 10%;
  height: 5%;
}

.item:nth-child(2) {
  width: 25%;
  height: 75%;
}

.item:nth-child(3) {
  flex-grow: 1;
  height: 75%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 10;
    background: url("image/6d7471bd-054c-474b-ac06-c0205ec8c1fa.jpeg") fixed no-repeat center center / cover;
}
.zoom-overlay{
    position: relative;
    width: 600px;
    height: 30px;
    overflow:hidden;
    cursor:wait ;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 50px 25px 30px rgba(7, 1, 1, 0.7);
}

.zoom-overlay{
    width: 900px;
    height: 400px;
    object-fit: cover;
    transition: transform 10s ease;
}

/* Style pour les petits textes en gras */
.specs p, .price, .product-badge, .add-to-cart,
.product-specs li, .product-price, .cart-item-details,
.checkout-summary p, .order-details p, .account-info p,
.filter-options select, .filter-options option {
    font-weight: bold !important;
}
.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: hwb(0 0% 100% / 0.616);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.zoom-overlay:hover img{
  transform: scale(1.1);
}
.zoom-overlay:hover .overlay{
  opacity: 1;
}
button{
  background-color: #1e07ee80;
  margin-left: 300px;
  border-radius: 10px;
  padding: 0px;
  width: 300px;
  border-radius: 300px ;
   box-shadow: 10px 0px 5px 10px #000000e8;
}
button a{
  color: #fffdfd;
  font-weight: normal;
  font-size: 15px;
}